@charset "UTF-8";

body {
  text-align: center;
  font: 75% arial, tahoma, "Trebuchet MS", verdana, arial, verdana, sans-serif;
  min-width: 1280px;
  background: url(../images/blue_stripe.gif) #bfd2ee repeat-x 0px 0px;
}
.web_page {
  	margin-left: auto;
  	margin-right: auto;
    width: 1280px;
	text-align: left;

    /*border: 1px solid rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.25);
    padding:10px;     */

}
.logo{padding: 5px;float:left;display:block;}
.login{padding: 5px;float:right;display:block; }
.content {min-height:500px;
    clear:both;
    padding-bottom: 5px;
    margin:0px;
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
    background-color:#ffffff;
    border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 5px 10px 20px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 10px 20px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 10px 20px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
}


div.error_message { background-color: #faa !important; text-align:center;}
div.result_message { background-color: #faa !important;text-align:center; }
.loading{
  background-image:url(../images/loading.gif);
  background-color: #FFFFFF; position:fixed;
  z-index:100;background-repeat:no-repeat; background-position:fixed center;width:100px;height:100px; border:1px solid black; border-radius:50px;-moz-border-radius: 50px;
  margin-left:-50px;
  left:50%;
  top:45%;
  );
  }
.hidden {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;z-index:-1;}

.modalEditBody
{
    min-width: 350px;
    min-height: 200px;
    background-color: #DDDDDD;
    padding-top: 25px;
}

		/* TOP NAVIGATION */
.login_list li {list-style: none;font-size:11px;display: inline;}
.menu_list {
  text-align: left;
  letter-spacing: 2px;
  color: #fff;
   margin:0px;
  background: #4682b4;
  padding:10px;
   border-radius: 20px 20px 0px 0px;
   -moz-border-radius: 20px 20px 0px 0px;
   box-shadow: inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
   -o-box-shadow:inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
   -webkit-box-shadow: inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
   -moz-box-shadow:  inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
}

.menu_list li {list-style: none;font-size:11px;display: inline;}
.menu_list li a {padding: 3px .75em;color: #fff;}
.menu_list li a:link {color: #fff;}
.menu_list li a:visited {color: #fff;}
.menu_list li a.current_link {color: #000;}
.menu_list li a:hover {color: #000;background: #6495ed;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 5px 5px rgba(255,255,255,0.3), inset 0 8px 5px rgba(255,255,255,0.2), inset 0 -5px 5px rgba(255,255,255,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 5px 5px rgba(255,255,255,0.3), inset 0 8px 5px rgba(255,255,255,0.2), inset 0 -5px 5px rgba(255,255,255,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 5px 5px rgba(255,255,255,0.3), inset 0 8px 5px rgba(255,255,255,0.2), inset 0 -5px 5px rgba(255,255,255,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 5px 5px rgba(255,255,255,0.3), inset 0 8px 5px rgba(255,255,255,0.2), inset 0 -5px 5px rgba(255,255,255,0.3);
}
.menu_list li a.selected {color:black;font-weight:bold;}


.sub_menu_list {margin:0px 0px 10px 0px;padding: 4px 3px 3px 0px;text-align: left;letter-spacing: 2px;color: #fff;background: #6495ed;}
.sub_menu_list li {list-style: none;font-size:11px;display: inline;}
.sub_menu_list li a {padding: 0px .75em;color: #fff;}
.sub_menu_list li a:link {color: #fff;}
.sub_menu_list li a:visited {color: #fff;}
.sub_menu_list li a:hover {color: #000;}
.sub_menu_list li a.current_link {color:black;font-weight:bold;}

.dropmenu{position:relative;float:left;}
.dropmenu a{ font-weight:bold;}
.dropmenu ul{
	background:#6495ed;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    margin:0px;
    padding:0px 9px 0px 0px;
    border-bottom:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
}
.dropmenu ul li{float:none;}
.dropmenu ul a{white-space:nowrap; font-weight:normal;}
.dropmenu:hover > ul{left:0; }

.sidemenu {background-image:url(../images/right.gif);z-index:100;background-repeat:no-repeat; background-position:right;}
.sidemenu ul{border-top:1px solid black;}
.sidemenu:hover > ul{left:50px; } 

/* TAB MENU */
/* TAB MENU */
.tabs ul{padding-left:15px;margin-bottom:10px;padding-top:10px;}
.tabs li{list-style: none;display: inline;}
.tabs li a
{
  border: 1px solid #778;
  padding:10px;
  background: #d2b48c;
    border-radius: 10px 10px 0px 0px;
   -moz-border-radius: 10px 10px 0px 0px;
   box-shadow: 5px -3px 10px rgba(0,0,0,0.5), inset 0px 5px 10px rgba(255,255,255,255.3);
   -o-box-shadow:5px -3px 10px rgba(0,0,0,0.5), inset 0px 5px 10px rgba(255,255,255,255.3);
   -webkit-box-shadow: 5px -3px 10px rgba(0,0,0,0.5), inset 0px 5px 10px rgba(255,255,255,255.3);
   -moz-box-shadow: 5px -3px 10px rgba(0,0,0,0.5), inset 0px 5px 10px rgba(255,255,255,255.3);
}

.tabs li a:link { color: #448;}
.tabs li a:visited { color: #667; }
.tabs li a:hover{color: #000;background: #4682b4;border-color: #227;}
.tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{background: #ffffff;border-bottom:1px solid white;
box-shadow: 0px -4px 5px rgba(0,0,0,0.5);
   -o-box-shadow:0px -4px 5px rgba(0,0,0,0.5);
   -webkit-box-shadow: 0px -4px 5px rgba(0,0,0,0.5);
   -moz-box-shadow: 0px -4px 5px rgba(0,0,0,0.5);

}
.ui-tabs-panel{
border:1px solid black;
padding:5px;
margin:5px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset -15px -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow:5px 5px 10px rgba(0,0,0,0.5), inset -15px -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset -15px -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset -15px -15px 30px rgba(0,0,0,0.3);
}

		/* FOOTER */
.footer {
  clear: both;
  text-align:center;
  padding: 1px 1px 5px 5px;
  margin: 0px;
  background: #4682b4;
  border-bottom:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
   border-radius: 0px 0px 20px 20px;
   -moz-border-radius: 0px 0px 20px 20px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
   -o-box-shadow:5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
   -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
   -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 15px rgba(255,255,255,0.5), inset 0px -10px 15px rgba(255,255,255,0.5);
  color: #fff;
}
.footer a {color: #fff;}
.footer  a:hover{color: #000;}

		/* LINKS */
a {color: #cd853f;}
a:hover {text-decoration:underline;color: #6495ed;}
a img {border: 0;}

a.back,a.close_row,a.edit_row{color:red;font-size:120%;text-transform: uppercase;}


		/* HEADING PROPERTIES */
h1,h2, h3, h4, h5, h6{font-weight: bold;margin:0px;font-size:120%;}


/*  Table Options Menu Properties */
a.result_limiter {border: 1px solid #000080;padding: 2px 6px 2px 6px;color: #000080;}
a.result_limiter:hover {background-color: #000080;color: #FFF;text-decoration: underline;}

a.current {border: 1px solid #000080;padding: 2px 6px 2px 6px;background:#000080;color: #FFF;}
span.inactive { border: 1px solid #999; padding: 2px 6px 2px 6px; color: #999;}
div.page_list {float:left;}
div.table_options{float:right;}
div.table_options a{margin-right:5px;color:white;}
div.table_options a:hover{color:#000080;}
div.total_results{float:left;margin-right:10px;}
div.option_container{margin-top:5px;height:25px;background-color:#4682b4;width:100%;color:black;padding-top:10px;
   border-radius: 10px 10px 0px 0px;
   -moz-border-radius: 10px 10px 0px 0px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 20px rgba(255,255,255,0.5);
   -o-box-shadow:5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 20px rgba(255,255,255,0.5);
   -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 20px rgba(255,255,255,0.5);
   -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px 10px 20px rgba(255,255,255,0.5);
}


/*  Table Properties */
.content_table {border:1px solid black;width:100%;
background-color:white;
     border-radius: 0px 0px 10px 10px;
   -moz-border-radius: 0px 0px 10px 10px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
   -o-box-shadow:5px 5px 10px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset -15px 0px 30px rgba(0,0,0,0.3);
   }
.content_table thead tr th, tfoot tr th {
	background-color: #4682b4;
	border: 0px solid #FFF;
	font-size: 9pt;
	padding: 3px;
	color: #fff;
	text-align:left;
    text-transform: uppercase;
}

.content_table .header {
	background-image: url(../images/sort.gif);
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
	background-color: #4682b4;
	border: 0px solid #FFF;
	font-size: 9pt;
	padding: 3px;
    padding-right: 20px;
	text-align:left;
	vertical-align:middle;
	color: #fff;
    text-transform: uppercase;
}

.content_table .tablesorter  tbody tr.odd td {background-color:#F0F0F6;}
.content_table .tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
.content_table .headerSortUp {background-color: #BADBF5;color: #000000;background-image: url(../images/sort_up.gif);}
.content_table .headerSortDown {background-color: #BADBF5;color: #000000;background-image: url(../images/sort_down.gif);}
.content_table .odd {background-color: #cccccc;}
div.advanced_container{overflow: auto;padding-bottom:25px;}

.largeTable th {font-size:10px;background-color: #4682b4;color:white;}
.largeTable .odd {background-color: #cccccc;}
.largeTable tr:hover td {background-color: black;color:white; }

.plus{background-image: url(../images/plus.jpg);background-repeat:no-repeat; background-position:fixed center;width:15px;height:15px;float:left;}
.minus{background-image: url(../images/minus.jpg);background-repeat:no-repeat; background-position:fixed center;width:15px;height:15px;float:left;}

form.default_form label { color: #00477a; text-decoration: none; font-size: 107%; width:200px;text-transform: uppercase;float:left; clear:both;}
form.default_form input,form.default_form select,form.default_form textarea{ border: 1px solid #00477a; width:350px;float:left;}
input[type=checkbox],form.default_form input[type=checkbox]{ border: 0px;margin:0px;width:10px;}
form.default_form .field_container{ display:block;clear:both;padding-top:5px;}
form.default_form .description{ float:left;padding-left:5px;}

div.table_link-checkboxes_field ul,div.checkbox-list_field ul{list-style:none;display:block;margin:0px;padding:0px;}
div.table_link-checkboxes_field li,div.checkbox-list_field li{float:left;width:200px;}
form.default_form div.table_link-checkboxes_field,form.default_form div.checkbox-list_field{float:left;width:350px;}
div.table_link-checkboxes_field input[type=checkbox],div.checkbox-list_field input[type=checkbox]{border: 0px; width:10px;margin:0px;float:left;}
div.table_link-checkboxes_field label,div.checkbox-list_field label{float:none;display:block;}

div.edit_field{width:100%; min-height:10px;cursor:text;}
div.edit_field:hover{border:1px solid black;}


form.default_form input:focus,form.default_form select:focus,form.default_form textarea:focus{border: 2px solid #00477a;}
form.default_form input[type=submit]{ border: 1px solid #00477a; width:auto;margin-left:200px;clear:both;margin-top:5px;}
.error{ background-color:#F6CECE;text-align:center;text-transform: uppercase;font-weight:bold;}
.message{ background-color:#1BE022;text-align:center;text-transform: uppercase;font-weight:bold;}

fieldset input,button { border: 1px solid #00477a; width:98%;}
fieldset select{ border: 1px solid #00477a; width:auto;}
input.hidden { display: none; }
.hidden { display: none; }   
button, input[type=submit]{background-color:#4682b4;color:white;width:70px;

   border-radius: 10px;
   -moz-border-radius: 10px;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px -5px 10px rgba(0,0,0,0.3);
   -o-box-shadow:5px 5px 10px rgba(0,0,0,0.5), inset 0px -5px 10px rgba(0,0,0,0.3);
   -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px -5px 10px rgba(0,0,0,0.3);
   -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5), inset 0px -5px 10px rgba(0,0,0,0.3);
}
button:hover,button:focus, input[type=submit]:hover, input[type=submit]:focus {background-color:white;color:black;width:70px;}


/* css for timepicker */
.ui-datepicker {background-color: #eeeeee; border: 1px solid black;border-radius: 10px;-moz-border-radius: 10px; padding:10px;}
.ui-timepicker-div .ui-widget-header{margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.ui-slider { position: relative; text-align: left;}
.ui-slider .ui-slider-handle { position: absolute;z-index: 2; width: 12px; height: 12px; cursor: default; background:black;border-radius: 5px;-moz-border-radius: 5px; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }


.ui-slider-horizontal { height: 12px; border-radius: 5px;-moz-border-radius: 5px;border: 1px solid black;background-color:white;}
.ui-slider-horizontal .ui-slider-handle {  margin-left: -5px; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }